/* General styles */
.wcrpd-settings-wrap {
  font-family: "Arial", sans-serif;
  max-width: 800px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e2e4e7;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.wcrpd-settings-wrap header {
  border-bottom: 2px solid #0073aa;
  margin-bottom: 20px;
}

.wcrpd-settings-wrap h2 {
  color: #333;
  margin: 0;
  font-size: 24px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Tabs styling */
.wcrpd-settings-wrap nav {
  display: flex;
  margin-bottom: 20px;
}

.wcrpd-settings-wrap .tablink {
  flex: 1;
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid #e2e4e7;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  margin-right: 10px;
  align-items: center;
  gap: 10px;
}

.wcrpd-settings-wrap .tablink:last-child {
  margin-right: 0;
}

.wcrpd-settings-wrap .tablink:hover {
  background-color: #e2e4e7;
}

.wcrpd-settings-wrap .tablink.active {
  background-color: #0073aa;
  color: #fff;
  border-color: #0073aa;
}

.wcrpd-settings-wrap .tablink i {
  margin-right: 8px;
  vertical-align: middle;
}

.wcrpd-settings-wrap .tabcontent {
  display: none;
  padding: 0 20px 0 20px;
  border-top: 1px solid #e2e4e7;
}

.wcrpd-settings-wrap .tabcontent.active-content {
  display: block;
}

/* Form styles */
.wcrpd-settings-wrap label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: bold;
}

.wcrpd-settings-wrap input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin-top: 5px;
}

.wcrpd-save-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.wcrpd-right-buttons {
  display: flex;
  gap: 5px;
}

/* Save button styles */
.wcrpd-settings-wrap .save-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #0073aa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wcrpd-settings-wrap .save-btn:hover {
  background-color: #005a87;
}

.wcrpd-settings-wrap .save-btn:disabled {
  background-color: #b5b5b5;
  cursor: not-allowed;
}

.wcrpd-settings-wrap .save-btn:disabled:hover {
  background-color: #b5b5b5;
}

.wcrpd-settings-wrap .save-btn .save-spinner,
.wcrpd-settings-wrap .save-btn .save-success {
  margin-left: 10px;
}

.wcrpd-settings-wrap .save-btn .save-spinner,
.wcrpd-settings-wrap .save-btn .save-success {
  display: none;
}

.wcrpd-settings-wrap .save-btn.saving .btn-label {
  display: none;
}

.wcrpd-settings-wrap .save-btn.saving .save-spinner {
  display: inline-block;
}

.wcrpd-settings-wrap .save-btn.saved .save-success {
  display: inline-block;
}

/* Error message styles */
.form-group {
  margin-bottom: 20px;
}

.error-feedback {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.global-error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.wcrpd-settings-wrap .error-message.has-error {
  color: #fff;
  background-color: #e74c3c;
  padding: 5px 10px;
  border: 1px solid #c0392b;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(231, 76, 60, 0.3);
}

.wcrpd-settings-wrap .error-message:before {
  content: "\f488";
  font-family: "dashicons";
  font-weight: 900;
  margin-right: 5px;
  display: none;
}

.wcrpd-settings-wrap .error-message.has-error:before {
  display: inline-block;
}

.right-btn {
  margin-left: 10px;
}

/* Description styles */
.wcrpd-settings-wrap .description {
  font-size: 12px;
  color: #777;
  margin: 5px 0;
}

/* Dropdown & Multiple Select styles */
.wcrpd-settings-wrap select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin-top: 5px;
}

.wcrpd-settings-wrap select[multiple] {
  height: 150px;
}

/* Fieldset & Legend styles */
.wcrpd-settings-wrap fieldset {
  border: 1px solid #e2e4e7;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

.wcrpd-settings-wrap legend {
  font-weight: bold;
  color: #333;
  padding: 0 5px;
}

/* Checkbox styles */
.wcrpd-settings-wrap label input[type="checkbox"] {
  margin-right: 5px;
}

/* Right button styles */
.wcrpd-settings-wrap .right-btn {
  background-color: #f7f7f7;
  color: #333;
  padding: 10px 15px;
  border: 1px solid #e2e4e7;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.wcrpd-settings-wrap .right-btn:hover {
  background-color: #e2e4e7;
}

.wcrpd-settings-wrap .dashicons-admin-generic:before {
  font-size: 30px;
  line-height: 0.7;
}

.wcrpd-mn-top {
  margin-top: 20px;
}

.wcrpd-mn-btm {
  margin-bottom: 20px;
}

.wcrpd-mn-top-5 {
  margin-top: 5px;
}

.tabcontent hr {
  margin-top: 20px;
}

.red-color {
  color: red !important;
  font-weight: 600;
}

.green-color {
  color: green !important;
  font-weight: 600;
}
